.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  & fieldset {
    border-radius: 10px;
  }
}

.dateselector{
  display: flex;
  border: 1px solid gray;
  text-align: right;
  justify-content: space-between;
  align-items: center;
}

.pinkcalendar {
  background-color: pink;
  border-collapse: collapse;
  & td {
    border: 1px solid lavenderblush;
    text-align: center;
    cursor: pointer;
  }
  & .selected{
    background-color: blue;
    border-radius: 50%;
  }
}

.button{
  display: flex;
  justify-content: space-around;
}
.button1{
  display: flex;
    gap: 8px;
}